/* commono styles  */
.card-image {
    height: 280px;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
    overflow: hidden;
}

.card-image img {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all .5s ease-in-out;
}


/* navbar scroll  */
.scroll-down header {
    transform: translate3d(0, -100%, 0);
}

header {
    background-color: var(--primary-color);
    font-family: var(--popins-font);
    box-shadow: var(--header-shadow);
    padding: var(--header-padding);
    position: sticky;
    top: 0;
    transition: all .3s ease-in-out;
    z-index: 999;
}

header nav {
    color: var(--secondary-color);
    padding: 1rem 0;
}

header nav ul li:not(:last-child) {
    margin-right: 1rem;
}

header nav ul li a {
    text-decoration: none;
    padding: 1rem .8rem;
    font-size: 1.125rem;
    font-weight: 500;
}

header nav ul li a:hover {
    /* color: var(--primary-color); */
    transition: all .3s ease-in-out;
}

.header-dropdown {
    position: relative;
}

.header-dropdown .dropdown-menu {
    border-top: 2px solid var(--secondary-color);
    position: absolute;
    top: 40px;
    background-color: var(--primary-color);
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    z-index: 999;
    list-style: none;
}

.header-dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu a {
    display: block;
    padding: .5rem 1rem;
}

.nav {
    list-style: none;
    display: none;
}

.hamburger {
    display: block;
}

/* ----------------hero section----------------- */
.hero {
    height: 100vh;
    width: 100%;
}

.hero-content {
    height: 100%;
    width: 100%;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content>div {
    max-width: 100%;
}

/* ----------------hero section----------------- */

/* ----------------about section----------------- */
.about .left-image {
    height: 100vh;
    width: 100%;
}

.about .image {
    width: 100%;
    height: 100%;
}

.about .image img {
    height: 90%;
    width: 100%;
}
/* ----------------about section----------------- */
/* ----------------impact section --------------- */

.impact-item {
    text-align: center;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.impact-item h4 {
    margin: 1rem 0;
}
.impact-item i {
    font-size: 2.5rem;
    color: var(--primary-color);
}


/* ----------------impact section --------------- */

/*------------------ featured trees--------------- */
.features h5 {
    margin: 10px 0;
}

.features .featured-card {
    box-shadow: var(--blog-card-shadow);
    border-radius: 1rem;
}

.featured-card:hover img {
    transform: scale(1.1);
}

.featured-card .price del {
    color: var(--primary-color)
}

/*--------------------- featured trees ------------------ */

/* ------------------- gallery section --------------- */

.gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    grid-auto-rows: 200px;
}
.grid-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}
.grid-item img:hover {
    transform: scale(1.1);
}
.row-span-2 {
    grid-row: span 2;
}

/* ------------------- gallery section ----------------- */

/* --------------testimonials section -------------- */
.testimonials .testimonial {
    padding: 1.5rem 1rem;
    background-color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: var(--testimonials-card-shadow);
}

.testimonial h5 {
    margin: 0;
    padding: 0;
}

.testimonial .profile-image {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

/*--------------- testimonials section-------------  */

/* ----------------blogs section ------------- */
.blog-card {
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    font-family: var(--nunito-font);
    box-shadow: var(--blog-card-shadow);
}

.blog-card h5 {
    margin: 20px 0;
}

.blog-card h5,
a {
    transition: all .3s ease-in-out;
    text-decoration: none;
}

.blog-card:hover img {
    transform: scale(1.1);
}

.blog-card:hover h5,
.blog-card:hover a {
    color: var(--primary-color);
}

.blog-card:hover a {
    text-decoration: underline;
}

/* ----------------blogs section ------------- */

/* -------------newletter section --------------- */
.newsletter {
    height: 50vh;
    background: url('./assets/banner/newsletter.jpg') no-repeat center center / cover;
    background-attachment: fixed;
}

.newsletter .newsletter-content {
    width: 100%;
    height: 100%;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

/* -------------newletter section --------------- */
/*------------- contact section ------------ */
.social-links a {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.5rem;
    color: #27ae60;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #2ecc71;
}

/*------------- contact section ------------ */

/*--------------------------footer section starts here----------------------------*/
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.footer-links li:not(:last-child) {
    margin-bottom: 1rem;
}

footer ul {
    list-style: none;
    padding: 0;
}

.footer-links li a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.footer-links li:hover a {
    text-decoration: underline;
}

.footer-newsletter input {
    padding: 1rem;
    margin-right: 10px;
    ;
    background-color: var(--secondary-color);
    outline: none;
    border: none;
    border: 1px solid var(--border-color);
}

.footer-btn {
    padding: 1rem 2rem;
    outline: none;
    border-color: var(--primary-color);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.footer-bottom {
    background-color: #2b7a6b;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

/*-------------------------footer section ends here-----------------------*/
/* Responsive Adjustments */
@media (min-width: 768px) {
    .gallery-images {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) {
    .hero-content>div {
        max-width: 60%;
    }

    .nav {
        display: flex;
    }

    .hamburger {
        display: none;
    }
    /* gallery section  */
    .gallery-images {
        grid-template-columns: repeat(4, 1fr);
    }
    /* footer  */
    .footer-bottom {
        flex-direction: row;
    }
}